<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Turk's Compass </title>
  </head>
  <body>
    <center><img src="https://res.cloudinary.com/daqxhckof/image/upload/v1717578539/turk-compass/turks_pgmiqi.png"  width="100px"></img>
    <p style="font-size:20px;"><b>Turk's Compass Email Verification OTP</b></p></center>
    <br>
    <p>Hello <%= name %></p>
    <p>You can verify your email address using the below verification code. </p>
    <p><%= code %> </p>

    <br>
    <p> Best Regards,<br>
    
       

      Turk’s Compass Team.

        </p>
  </body>
</html>
