<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email </title>
  </head>
  <body>
    <center><img src="https://res.cloudinary.com/daqxhckof/image/upload/v1717578539/turk-compass/turks_pgmiqi.png"  width="100px"></img>
    <p style="font-size:20px;"><b>Songly OTP Code</b></p></center>
    <br>
    <p>Hello <%= name %></p>
 
    <p>We received a request to reset your password for your Songly account. Please use the following verification code to proceed: <%= code %></p>
    
    <p>This code will expire in <strong>3 minutes</strong>. If you didn't request this password reset, please ignore this email or contact support if you have concerns.</p>
    
    <p>For security reasons, please don't share this code with anyone.</p>
    <br>
    <p> Sincere regards,<br>
       

      Songly.

        </p>
  </body>
</html>